.newSpotWrapper{
    /* margin: 190px 0; */
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr 834px;
    /* background-color: red; */
}


.newSpot{
 /* background-color: red; */
 font-family: Helvetica, Arial, sans-serif;
 font-size: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.newSpotForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 500px;
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 25px;
    border: 1px solid rgb(199, 199, 199);
}
.newSpot--element{
    display: flex;
    flex-direction: column;
    width: 500px;
}
