
#fixedNav{
    position: fixed;
    width: 100%;
    top: 0;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    height: 160px;
    background-color:rgba(155, 155, 0, 0.5);
    transition: all 0.25s ease-in-out;
}
.navbarContainer-resize{
    height: 80px;
}
.navbar--element{
    min-width: 350px;
    height: 160px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.navbar--searchBar {
    width: 350px;
    height: 80px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.profile{
    height: 80px;
    justify-self: flex-end;
    align-self:flex-end;
}
.homepageLogo{
    height: 80px;
    align-self: center;

}

.homeSearch{
    border: none;
    height: 40px;
    width: 200px;
    margin: 20px 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
}
.searchIcon {
    /* background-color: red; */
    width: 80px;
    height: 80px;
    background-color: transparent;
    background-size: 80px;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    /* margin-top: 20px; */
}
.searchIcon:hover{
    opacity: 0.8;
}















/*
.navLinks{
    margin: 15px;
    display: inline-block;
}


.fetchTest{
    display: inline;
    margin: 10px;
    padding: 10px;
}
.fetchContainer {
    margin: 25px 0;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background-color: bisque;
}
div{
    margin: 5px;
    padding: 5px;
}
div:nth-child(even){
    background-color: rgb(221, 221, 221);
}
a:link,a:visited,a:active{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: red;

} */
