.spotWrapper{
    /* margin: 190px 0; */
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr 800px;
    /* background-color: red; */
}
.map-sbt{
    /* margin-top: 190px; */
    position: fixed;
    top: 190;
    right: 0
}
.spot{
    /* margin-top: 190px; */
    /* height: 1140px; */
    /* overflow-x: auto; */
}
/* .swordCoastMap{
    width: 934px;
} */

.mapContainer{
    width: 2800px;
    height: 2800px;
    /* background-color: #b1a587; */
}


.locOnMap-sbt{
    background-color: white;
    font-size: 12px;
    position: absolute;
    border-radius: 20px 20px 20px 0;
    padding: 7px;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.6);
    transition: all .4s ease-in-out;
    cursor: pointer;
    transform: translate(0, -100%);
    /* width: 100px; */
    /* transform-origin: 150% bottom; */
}

.locOnMap-sbt:hover,.locOnMap-sbt--hover{
    background-color: black;
    color: white;
    z-index: 55;
}
.list{
    background-color: rgb(240, 238, 238);
    display: flex;
    transition: all .55s ease-in-out;
    margin: 0 0 20px 20px;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid rgb(175, 175, 175);
    max-width: 900px;
}
.description{
    height: 250px;
    margin-bottom: 10px;
    overflow: auto;
}
.list:hover,.list--hover {
    background-color: rgb(236, 224, 206);
    border: 1px solid rgb(240, 106, 106);
}

.spotImage{
    width: 400px;
    border-radius: 5px;
    border: 1px solid rgb(136, 136, 136);
}
.locationDot{
position: absolute;
transition: all 0.3s ease-in-out;
}

.square{
    width: 6px;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: -1px;
}

.spotContent{
    margin-left: 25px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: black;
    width: 100%;
    flex-direction: column;
    display: flex;
    /* background-color: coral; */
    justify-content: space-between;
    /* height: 300px */
}
.mainPicContainter{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.mainPicBackground{
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid rgb(136, 136, 136);
    filter: blur(2px) brightness(0.6);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: center;
}
.mainPicForeground{
    width: 345px;
    height: 345px;
    background-size: contain;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    border-radius: 15px;
    filter: drop-shadow( 0 0  8px #000000);
}

.bottom{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:1440px) {
    .spotContent{
        font-size: 14px;
    }
    .mainPicContainter{
        width: 275px;
        height: 350px;
    }

    .mainPicBackground{
        width: 275px;
        height: 350px;
        background-size: 900px;

    }
    .mainPicForeground{
        width: 270px;
        height: 345px;
    }

}

@media screen and (max-width:1330px) {
    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}


@media screen and (max-width:1250px) {
    .mainPicContainter{
        width: 200px;
        height: 350px;

    }
    .mainPicBackground{
        width: 200px;
        height: 350px;
        background-size: 900px;

    }
    .mainPicForeground{
        width: 195px;
        height: 345px;
    }
}

@media screen and (max-width:1175px) {
    .mainPicContainter{
        width: 100%;
        height: 350px;

    }
    .mainPicBackground{
        width: 100%;
        height: 350px;
        background-size: 900px;

    }
    .mainPicForeground{
        width: 195px;
        height: 345px;
    }

    .description{
        height: 50px;
        /* width: 100%; */
        margin-bottom: 10px;
        overflow: auto;
    }

    .list{
        flex-direction: column;
        margin: 0 4px;
    }
}

hr{
    color: rgb(161, 161, 161);
    /* width: 150px; */
    align-self: flex-start;
}
