.spotWrapper{
    /* margin: 190px 0; */
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr 934px;
    /* background-color: red; */
}
.map-sbt{
    /* margin-top: 190px; */
    position: fixed;
    top: 190;
    right: 0
}
.spot{
    /* margin-top: 190px; */
    /* height: 1140px; */
    /* overflow-x: auto; */
}
/* .swordCoastMap{
    width: 934px;
} */

.mapContainer{
    width: 2800px;
    height: 2800px;
    background-color: black;
}
.target{
    width: 20px;
    height: 20px;
    border: 2px solid red;
    z-index: 999999;
    position: fixed;
    top: 250px;
    left: 340px;
    border-radius: 99px;
    pointer-events: none;
}

.locOnMap-sbt{
    background-color: white;
    font-size: 12px;
    position: absolute;
    border-radius: 20px;
    padding: 7px;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.6);
    transition: all .55s ease-in-out;
    /* width: 100px; */
    /* transform-origin: 150% bottom; */
}

.locOnMap-sbt:hover,.locOnMap-sbt--hover{
    background-color: black;
    color: white;
    z-index: 55;
}
.list{
    background-color: rgb(240, 238, 238);
    display: flex;
    transition: all .55s ease-in-out;
    margin: 0 0 20px 20px;
    padding: 15px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    border: 1px solid rgb(175, 175, 175);
}
.list:hover,.list--hover {
    background-color: rgb(236, 224, 206);
    border: 1px solid rgb(240, 106, 106);
}

.spotImage{
    width: 400px;
    border-radius: 25px;
    border: 1px solid rgb(136, 136, 136);
}
.locationDot{
background-color: black;
z-index: 1;
position: absolute;
border-radius: 20px;
}

.square{
    width: 6px;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: -1px;
}

.spotContent{
    margin-left: 25px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    width: 100%;
    flex-direction: column;
    display: flex;
    /* background-color: coral; */
    justify-content: space-between;
    /* height: 300px */
}
hr{
    color: rgb(161, 161, 161);
    /* width: 150px; */
    align-self: flex-start;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
